.tableHeader {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
.tableMain {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}
.card {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}
